/* app css stylesheet */

.projects {
  list-style: none;
}

.thumb {
  float: left;
  margin: 0.5em 1em 0em 0.5em;
  padding-top: 0.3em;
  height: 100px;
  width: 100px;
}

.projects li {
  clear: both;
  width: 100%;
  height: 155px;
  padding-top: 15px; 
  padding-bottom: 115px;
}

#ttrim {
    height: 78px;
    width: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

#date {
    width: auto;
    margin-left: 120px;
}

.project-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

/** Detail View **/
img.project {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.project:first-child {
  display: block;
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

/*ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}*/

ul.specs {
  margin: 0;
  padding-top: 50px;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

h1 {
  border-bottom: 1px solid gray;
}