<!DOCTYPE html>
<html lang="en" ng-app="RAPPApp">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Archived Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="RAPP.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content -->

        Search: <input ng-model="query">
        <p><p>
        Sort by:
       <select ng-model="orderProp">
          <option value="Title">Alphabetical</option>
          <option value="-LastUpdated">Newest</option>
          <option value="-Status">Seeking Students</option>
          <option value="Status">Finished</option>
       </select>

      </div>
      <p><p><p><p>
      <div class="col-md-10">
        <!--Body content -->

        <ul class="projects">
          <li ng-repeat="project in projects | filter:query | orderBy:orderProp" class="thumbnail project-listing">
            <a href="#/projects/{{project.ProjectID}}" style="vertical-align: middle;" class="thumb"><img ng-src="{{project.Picture}}"></a>
            <a href="#/projects/{{project.ProjectID}}">{{project.Title}}</a>
            <p id="ttrim">{{project.Description}}</p>
            <p id="date">Last Updated: {{project.LastUpdated}}
          </li>
        </ul>

      </div>
    </div>
  </div>

  </body>
  </html>